// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #ffffff !important;
}
.header{
  width: 100% !important;
  max-width: 548px;
  display: block;
  background-color: #1a1a1a;
  background: #1a1a1a;

  img{
    height: 65px;
  }
}

.delivery{
  background-color: #eeeeee;
  background: #eeeeee;
  padding-bottom: 0 !important;
  padding-top: 10px;
  p{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
}

.schedule {
  background-color: #eeeeee;
  background: #eeeeee;
  border: solid #b8b8b8 1px;
  padding-bottom: 1px !important;


  p{
    padding-left: 25px;
    padding-top: 10px;
  }
}

.order_num{
  padding-left: 25px !important;
  padding-top: 20px;
}
.order_total {
  h6{
    margin-left: 15px;
    font-size: 14px;
  } 
}

.thanks{
  p{
    hyphens: none;
    width: 85%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px !important;
    padding-right: 12px;
    background-color: #ecf2f7;
    background: #ecf2f7;
    border: solid 1px #5197cd;
    border-radius: 3px;
    color: #3c3c3d;
  }
}
.delivering_to {
  border-top: solid #b8b8b8 1px;
  border-bottom: solid #b8b8b8 1px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 0px !important;
  a{
    font-size: 14px !important;
  }
}
.page_splitter{
  width: 80%;
  border-top: #b8b8b8 solid 1px;
  padding: 0 !important;
}
.payment_details{
  h6{
    font-size: 14px;
    color: #1a1a1a;
  }
}

.full_order {
  background-color: #eeeeee;
  background: #eeeeee;
  padding-bottom: 15px !important;
  padding-top: 20px;

  span {
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    background-color: #266557;
    font-size: 16px;
    color: #ffffff !important;
    hyphens: none;
  }
}

.rate_email
{
  background-color: #f4f4f4;
  background: #f4f4f4;
  border: #b8b8b8 solid 1px;
  border-radius: 5px !important;
  .favor{
    font-size: 10px;

  }

  a{
    span{
      color: #ffffff;
      background-color: #1a1a1a;
      background: #1a1a1a;
      font-size: 14px;
      font-family: 'Sans Serif', sans-serif;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 8px;
      padding-right: 8px;
      width: 160px;
    }
  }
}

.footer{
  max-width: 580px;
  & > tbody {
  background-color: #1a1a1a;
  background: #1a1a1a;
  }
  .menu-divider {
    & > tbody >tr {
    display: block;
    height: 2px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #616161;
    background: #616161;
    }
  }
  .link_btn {
  display: block;
  font-weight: 600;
  width: 100%;
  height: 10px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  color: #f4f4f4 !important;
  }
  .social_tab{
    padding-top: 15px;
  }
  .social_btn {
    width: 30px;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .dividends_btn{
  display: block;
  font-weight: 600;
  width: 100%;
  height: 10px;
  font-size: 14px;
  padding-bottom: 12px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  color: #f4f4f4 !important;
  }
  .percent_btn{
    display: block;
    font-weight: 600;
    width: 50%;
    height: 30px;
    font-size: 30px;
    padding-bottom: 12px;
    text-align: center;
    color: #f4f4f4 !important;
    }
  .benefits_btn{
    display: block;
    font-weight: 600;
    width: 25%;
    height: 10px;
    font-size: 18px;
    padding-bottom: 12px;
    text-align: center;
    color: #f4f4f4 !important;
    }
}
.lifetime{
  max-width: 580px !important;
  padding-top: 25px;
  background-color: #f1efe4;
  background: #f1efe4;
}