// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #665b5b !important;
}
.header{
  display: block;
  background-color: #1a1a1a;
  background: #1a1a1a;
  img{
    height: 65px;
  }
}
.delivery{
  text-align: center;
  width: 80%;
  
}

.footer{
  & > tbody {
  background-color: #1a1a1a;
  background: #1a1a1a;
  }
  .menu-divider {
    & > tbody >tr {
    display: block;
    height: 2px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #616161;
    background: #616161;
    }
  }
  .link_btn {
  display: block;
  font-weight: 600;
  width: 100%;
  height: 10px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  color: #f4f4f4 !important;
  }
  .social_tab{
    padding-top: 15px;
  }
  .social_btn {
    width: 30px;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .dividends_btn{
  display: block;
  font-weight: 600;
  width: 100%;
  height: 10px;
  font-size: 14px;
  padding-bottom: 12px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  color: #f4f4f4 !important;
  }
  .percent_btn{
    display: block;
    font-weight: 600;
    width: 50%;
    height: 30px;
    font-size: 30px;
    padding-bottom: 12px;
    text-align: center;
    color: #f4f4f4 !important;
    }
  .benefits_btn{
    display: block;
    font-weight: 600;
    width: 25%;
    height: 10px;
    font-size: 18px;
    padding-bottom: 12px;
    text-align: center;
    color: #f4f4f4 !important;
    }
}