{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader">{{description}}</span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            {{> header}}
            {{> body}}
            {{> footer}}
            <br><row>
              <columns small="1" large="1"></columns>
            <columns small="10" large="10" class="lifetime">
                  <center><span style="text-align: center;font-size: 24px;"><strong>Become a member, get a lifetime of perks</strong></span></center><br>
                  <center><span style="hyphens: none;">Join the co-op community to get an annual dividned, member exclusive offers and more.</span></center>
                  <center><span> Just $20 for a lifetime</span></center><br>
                  <center><a href="https://www.rei.com/membership">Join us</a></center>
              </columns>
              <columns small="1" large="1"></columns>
              </row><br>

    <center><span style="font-size: 10px;">For information about or privacy practices, see our <a href="https://www.rei.com/help/privacy-policy">Privacy Policy</a>.</span></center><br>
    <center><span style="font-size: 10px;"> © 2021 Recreational Equipment, Inc. 1700 45th St. E, Sumner, WA 98352. All rights reserved.</span></center>
    <center><span style="font-size: 10px;"> REI and the REI Co-op logo are trademarks of Recreational Equipment, Inc.</span></center>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

